<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- Datatables + Bootstrap5 + jQuery3 -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap5.min.css"/>
     
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap5.min.js"></script>
    
    <!-- Custom -->
    <link rel="stylesheet" href="/static/css/style.css">   
</head>
<body>
    <div id="loader"></div>
    
    <div id="content-grid">
        <div id="header">
            <img src="/static/imgs/espn-fantasy-icon.png">
            <h1>Fantasy Basketball League Analyzer</h1>
        </div>
        
        <div id="catsInputContainer">
            <div id="formContainer">
            {% for cat in cats %}
                <div class="form-check">
                    <input class="form-check-input cat-input" type="checkbox" value="" id="checkbox_{{ loop.index0 }}" cat_i={{ loop.index0 }} col_i={{ cats_index[cat] }} checked>
                    <label class="form-check-label" for="checkbox_{{ loop.index0 }}">{{ cat }}</label>
                </div>
            {% endfor %}
            </div>
            <div id="reloadDataContainer">
                <button id="reloadDataButton" class="btn btn-primary">Reload Data</button>
            </div>
        </div>

        <div id="tableContainer">
            <h1>{{ season_id }}</h1>
            <table id="table_{{ season_id }}" class="table table-hover nowrap">
                <thead>
                    <tr>
                    {% for header in headers %}
                        <td>{{ header }}</td>
                    {% endfor %}
                    </tr>
                </thead>
            </table>
        </div>
    </div>

    <script>
        var season_id = {{ season_id|tojson }};
        var records = {{ records|tojson }};
        var zscores = {{ zscores|tojson }};
        var grades = {{ grades|tojson }};
        var headers = {{ headers|tojson }};
        var columns = {{ columns|tojson }};

        var table_id = "#table_" + season_id;
    </script>
    <script src="/static/js/datatable.js"></script>
    <script src="/static/js/app.js"></script>
</body>
</html>